About Station

$gettext("Hardware") $station.hardware
$gettext("Latitude") $station.latitude[0]° $station.latitude[1]'$station.latitude[2]
$gettext("Longitude") $station.longitude[0]° $station.longitude[1]'$station.longitude[2]
$pgettext("Geographical", "Altitude") $station.altitude
$gettext("Server uptime") $station.os_uptime
$gettext("WeeWX uptime") $station.uptime
$gettext("WeeWX version") $station.version
$gettext("Skin") $SKIN_NAME $SKIN_VERSION
